.serverIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  &:hover {
    cursor: pointer;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  h3 {
    // ... existing styles for the text ...
  }
}
